@page
@model ReSplash.Pages.Photos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to delete this?</h1>

@{
    string imagePath = "/photos/" + Model.Photo.FileName;
}
<p>
    <img src="@imagePath" class="img-fluid thumbnail" alt="User submitted photo" />
</p>

<form method="post">
    <input type="hidden" asp-for="Photo.PhotoId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> &nbsp;&nbsp;
    <a asp-page="./Index" class="btn btn-outline-dark">Cancel</a>
</form>
